<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Account • <%= user.username %> | Roshan</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="shortcut icon" href="/img/favicon-0.png" type="image/png">
		<script src="https://kit.fontawesome.com/8a7299c2d2.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav>
			<div class="logo">
				<a href="/logout"><img src="/img/Roshan-Logo.png" alt=""></a>
			</div>
			<input type="checkbox" name="check" id="check">
			<label for="check">
				<i class="fas fa-ellipsis-v"></i>
			</label>
			<div class="nav-btn">
				<label for="check">
					<i class="fas fa-times-circle"></i>				
				</label>
				<li><a href="/logout">Logout</a></li>
			</div>
		</nav>
		<div class="center">
			
			<section>
				<div class="sidebar">
					<li><button class="chang"><a href="#house-list">My List</a></button></li>
					<li><button class="chang"><a href="#buy">Buy</a></button></li>
					<li><button class="chang"><a href="#rent">Rent</a></button></li>
					<li><button class="chang"><a href="#sell">Sell</a></button></li>
				</div>
				<div class="house-list" id="house-list">
					<h1>House List</h1>
					<ul class="todo-list">
						<% todos.forEach(function(todo) { %>
						<li>
							<form action="<%= todo.url %>" method="post">
								<div class="view" id="view">
									<table>
										<tr>
												<th>Location</th>
												<th>For</th>
												<th>Space</th>
												<th>Bathroom</th>
												<th>Bedroom</th>
												<th>Price</th>
										</tr>
									
											<tr>	
												<td><%= todo.location %></td>
												<td><%= todo.four %></td>
												<td><%= todo.space %> SQRM</td>
												<td><%= todo.bathrooms %></td>
												<td><%= todo.bedrooms %> </td>
												<td>$ <%= todo.price %> SDG</td>
											</tr>
									</table>
								</div>
							</form>
						</li>
						<% }); %>
					</ul>
					
				</div>
			<div class="house-list" id="buy">
				<form action="/buyHome/filters" method="post">
					<label for="location">Chose One Of Them</label>
					<select name="location" id="location">
						<option value="">One Choice</option>
						<option value="Khartuom">Khartuom</option>
						<option value="Bahri">Bahri</option>
						<option value="Omdurman">Omdurman</option>
						<option value="Japl-Awlea">Japl-Awlea</option>
						<option value="Sharq-Alnail">Sharq-Alnail</option>
						<option value="Ombada">Ombada</option>
						<option value="Karary">Karary</option>
					</select>
					<div class="max_min">
						<label for="max_min">Your Range</label>
						<input id="min" type="number" name="min" placeholder="Minmum Price">
						<input id="max" type="number" name="max_buy" placeholder="Maximum Price">
					</div>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<button type="submit" >Go</button>
				</form>
			</div>
				<div class="house-list" id="rent">
					<h1>Rent</h1>
					<form action="/rentHome/filter" method="post">

						<select name="location" id="location">
							<option value="">One Choice</option>
							<option value="Khartuom">Khartuom</option>
							<option value="Bahri">Bahri</option>
							<option value="Omdurman">Omdurman</option>
							<option value="Japl-Awlea">Japl-Awlea</option>
							<option value="Sharq-Alnail">Sharq-Alnail</option>
							<option value="Ombada">Ombada</option>
							<option value="Karary">Karary</option>
						</select>
						<div class="max_min">
							<input id="min" type="number" name="min" placeholder="Minmum Price">
							<input id="max" type="number" name="max_min" placeholder="Maximum Price">
						</div>
						
						<div class="view">

					
						</div>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<button type="submit" >Go</button>
					</form>

				</div>
				<div class="house-list" id="sell">
					<form action="/addNewHouse" method="post" id="insertHome">
						<h1>Add New House</h1>
						<label for="location">Location</label>
						<select name="location" id="location">
							<option value="">One Choice</option>
							<option value="Khartuom">Khartuom</option>
							<option value="Bahri">Bahri</option>
							<option value="Omdurman">Omdurman</option>
							<option value="Japl-Awlea">Japl-Awlea</option>
							<option value="Sharq-Alnail">Sharq-Alnail</option>
							<option value="Ombada">Ombada</option>
							<option value="Karary">Karary</option>
						</select>
						<!-- <input type="text" id="location" name="location" placeholder="Location" autocomplete="location" required> -->
						<!-- <input type="text" id="for" name="for" placeholder="For" autocomplete="for" required> -->
						<label for="stauts">Stauts</label>
						<select name="for" id="for">
							<option value="">One Choice</option>
							<option value="Sell">Sell</option>
							<option value="Rent">Rent</option>
						</select>
						<label for="space">Space</label>
						<input type="number" id="space" name="space" placeholder="space" autocomplete="space" required>
						<label for="bathrooms">Bathrooms</label>
						<input type="number" id="bathrooms" name="bathrooms" placeholder="bathrooms" autocomplete="bathrooms" required>
						<label for="bedrooms">Bedrooms</label>
						<input type="number" id="bedrooms" name="bedrooms" placeholder="bedrooms" autocomplete="bedrooms" required>
						<label for="price">Price</label>
						<input type="number" id="price" name="price" placeholder="price" autocomplete="price" required>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<input type="submit" value="Publish">
					</form>
				</div>
			</section>
		</div>
	</body>
</html>

